<div >
  <h1>{{ title() }}</h1>
  
  <div>
    <h2>Panel de Búsqueda</h2>
    
    <div >
      <label for="userCount" >
        Ingrese la cantidad de usuarios a descargar (N):
      </label>
      <input 
        id="userCount"
        type="number" 
        [value]="userCount()"
        (input)="userCount.set(+$event.target.value)"
        min="1"
        max="5000"
      />
    </div>

    <button 
      (click)="loadUsers()"
      [disabled]="loading()">
    Cargar Usuarios
    </button>

    <div *ngIf="error()">
      {{ error() }}
    </div>
  </div>

  <div *ngIf="users().length > 0" >
   
    
    <div >
      <div 
        *ngFor="let user of users()"
        [style]="'border: ' + getBorderStyle(calculateAge(user.dob.date)) "
      >
        <div >
          <div>
            <img 
              [src]="user.picture.medium" 
              alt="Foto de perfil"
              
            />
          </div>
          
          <div>
            {{ user.name.first }} {{ user.name.last }}
            <p >
              Edad: {{ calculateAge(user.dob.date) }} años
            </p>
            <p *ngIf="user.email">
              Email: {{ user.email }}
            </p>
            <p *ngIf="user.phone">
              Teléfono: {{ user.phone }}
            </p>
            <p>
              ID {{ user.id.value }}
            </p>
          </div>

          <div>
            <button
              (click)="toggleAudit(user)">
              {{getAuditButtonText(user.id.value) }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>